[submodule "cores/GameBoy-Online"]
	path = cores/GameBoy-Online
	url = https://github.com/gameplaycolor/GameBoy-Online.git

[submodule "scripts/changes"]
	path = scripts/changes
	url = https://github.com/jbmorley/changes.git
