body
  {
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
  background-color: black;
  font: 15px Geneva, Arial, Helvetica, sans-serif; 
  }

#LCD
  {
  width: 320px;
  height: 288px;
  background-color: #EFFDE1;
  position: absolute;
  margin: 0;
  padding: 0;
  border: 0;
  image-rendering: -webkit-optimize-contrast;
  top: 0;
  left: 124px;
  }

#STATUS
  {
  display: none;
  }

.button
  {
  width: 63px;
  height: 62px;
  background-size: 63px 62px;
  }

.button.pressed
  {
  }

.button-option
  {
  width: 42px;
  height: 31px;
  background-size: 42px 31px;
  }

.button-option.pressed
  {
  }

#group-buttons
  {
  position: absolute;
  height: 115px;
  width: 132px;
  background-size: 132px 115px;
  top: 60px;
  right: 0;
  }

#group-options
  {
  position: absolute;
  width: 125px;
  height: 50px;
  top: 248px;
  right: 0;
  background-size: 125px 50px;
  }

#control-a
  {
  position: absolute;
  top: 5px;
  right: 3px;
  }

#control-b
  {
  position: absolute;
  bottom: 9px;
  left: 3px;
  }

#control-select
  {
  position: absolute;
  top: 5px;
  left: 5px;
  }

#control-start
  {
  position: absolute;
  top: 5px;
  right: 7px;
  }

#control-dpad
  {
  position: absolute;
  width: 128px;
  height: 128px;
  background-size: 128px 128px;
  top: 60px;
  left: 0;
  }

#button-done
  {
  position: absolute;
  bottom: 7px;
  right: 6px;
  height: 30px;
  width: 60px;
  text-align: center;
  background-color: magenta;
  }

#debug
  {
  height: 20px;
  width: 100px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  color: white;
  opacity: 0.7;
  padding: 20px 0;
  text-align: center;
  width: 568px;
  }
  
#screen-console
  {
  background-color: #ccc;
  background-size: 320px 260px;
  background-position: right bottom;
  }
  
#list-games
  {
  position: absolute;
  top: 80px;
  left: 74px;
  height: 120px;
  width: 420px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-size: 320px 568px;
  }
  
#list-games-content
  {
  position: absolute;
  top: 0;
  left: 0;
  height: 120px;
  width: 2000px;
  }

#list-games-page-control
  {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 26px;
  width: 568px;
  display: -webkit-box;
  display: box;
  -webkit-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-pack: center;
  box-pack: center;
  }

.page
  {
  width: 6px;
  height: 6px;
  background-color: white;
  border-radius: 50%;
  opacity: 0.5;
  margin: 5px;
  }

.page.active
  {
  opacity: 1.000000;
  }
  
.game
  {
  position: absolute;
  text-align: center;
  background-size: 126px 141px;
  background-position: center;
  background-repeat: no-repeat; 
  }

.game-title
  {
  font-family: 'Comic Sans MS', 'Marker Felt', sans-serif;
  background-color: #bbb;
  width: 85px;
  height: 74px;
  border-radius: 2px;
  word-wrap: break-word;
  position: absolute;
  top: 40px;
  left: 27px;
  }
  
#authorizeButton
  {
  position: absolute;
  top: 100px;
  left: 20px;
  }
  
#screen-games
  {
  background-color: #666;
  }
  
#screen-empty
  {
  width: 568px;
  height: 300px;
  text-align: center;
  }
  
#spinner
  {
  padding: 100px;
  }
  
.screen
  {
  position: absolute;
  top: 0;
  left: 0;
  width: 568px;
  height: 300px;
  }

.title-button
  {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#707070), to(#1C1C1C));
  border-radius: 4px;
  border: 1px solid black;
  height: 32px;
  width: 598px;
  }

.title
  {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4A4A4A), to(#000000));
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  color: white;
  z-index: 20;
  }

.title h3
  {
  margin-top: 11px;
  }

#control-games-scroll
  {
  position: absolute;
  top: 44px;
  left: 0;
  height: 300px;
  width: 300px;
  }

#control-games-list
  {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  }

.table
  {
  list-style: none;
  padding: 0;
  margin: 0;
  }

.table li
  {
  height: 88px;
  border-bottom: 1px solid #ccc;
  }

@media only screen and (-webkit-device-pixel-ratio:1) {

  #list-games { background-image: url(../images/background.png); }
  
  .game { background-image: url(../images/cartridge.png); }

  #screen-console { background-image: url(../images/console.png); }

  #group-buttons { background-image: url(../images/labels.png); }
  .button { background-image: url(../images/button.png); }
  .button.pressed { background-image: url(../images/button.png); }

  #control-dpad.sprite-pad-default   { background-image: url(../images/pad.png); }
  #control-dpad.sprite-pad-up        { background-image: url(../images/pad.png); }
  #control-dpad.sprite-pad-upright   { background-image: url(../images/pad.png); }
  #control-dpad.sprite-pad-right     { background-image: url(../images/pad.png); }
  #control-dpad.sprite-pad-downright { background-image: url(../images/pad.png); }
  #control-dpad.sprite-pad-down      { background-image: url(../images/pad.png); }
  #control-dpad.sprite-pad-downleft  { background-image: url(../images/pad.png); }
  #control-dpad.sprite-pad-left      { background-image: url(../images/pad.png); }
  #control-dpad.sprite-pad-upleft    { background-image: url(../images/pad.png); }

  #group-options { background-image: url(../images/labels_options.png); }
  .button-option { background-image: url(../images/option_2x.png); }
  .button-option.pressed { background-image: url(../images/option_2x.png); }

}

@media only screen and (-webkit-device-pixel-ratio:2) {

  #list-games { background-image: url(../images/background_2x.png); }

  .game { background-image: url(../images/cartridge_2x.png); }

  #screen-console { background-image: url(../images/console_2x.png); }

  #group-buttons { background-image: url(../images/labels_2x.png); }
  .button { background-image: url(../images/button_2x.png); }
  .button.pressed { background-image: url(../images/button_2x.png); }

  #control-dpad.sprite-pad-default   { background-image: url(../images/pad_2x.png); }
  #control-dpad.sprite-pad-up        { background-image: url(../images/pad_2x.png); }
  #control-dpad.sprite-pad-upright   { background-image: url(../images/pad_2x.png); }
  #control-dpad.sprite-pad-right     { background-image: url(../images/pad_2x.png); }
  #control-dpad.sprite-pad-downright { background-image: url(../images/pad_2x.png); }
  #control-dpad.sprite-pad-down      { background-image: url(../images/pad_2x.png); }
  #control-dpad.sprite-pad-downleft  { background-image: url(../images/pad_2x.png); }
  #control-dpad.sprite-pad-left      { background-image: url(../images/pad_2x.png); }
  #control-dpad.sprite-pad-upleft    { background-image: url(../images/pad_2x.png); }

  #group-options { background-image: url(../images/labels_options_2x.png); }
  .button-option { background-image: url(../images/option_2x.png); }
  .button-option.pressed { background-image: url(../images/option_2x.png); }

} 

@media only screen and (max-width:320px) {

  #LCD
    {
    top: 0;
    left: 0;
    }
      
  .screen
    {
    width: 320px;
    height: 548px;
    }

  #group-options
    {
    top: 462px;
    left: 90px;
    }

  #group-buttons
    {
    top: 306px;
    right: 8px;
    }

  #control-dpad
    {
    top: 296px;
    left: 8px;
    }

  #control-screen
    {
    top: 0;
    left: 0;
    }

  #debug
    {
    width: 320px;
    }

  .title
    {
    height: 44px;
    width: 320px;
    }

  #control-games
    {
    right: 8px;
    top: 498px;
    }
    
  #screen-empty
    {
    width: 320px;
    height: 548px;
    text-align: center;
    }
    
  #spinner
    {
    padding-top: 280px;
    }
    
  #list-games
    {
    top: 44px;
    left: 0px;
    height: 504px;
    width: 320px;    
    }
    
  #list-games-content
    {
    height: 420px;
    width: 2000px;
    }

  #list-games-page-control
    {
    height: 26px;
    width: 320px;
    }

}

